@media only screen and 	(max-width: 1200px) {
	.logotype {
		margin-right: 300px;
	}
	.container{
		margin-right: 0px;	
	}
	.knopka{
		width: 30%;
	}
}
@media only screen and 	(max-width: 1100px) {
	.container {
		margin-left: 100px;
	}
}

@media only screen and 	(max-width: 992px) {
	.container{
		margin-left: 120px;
		margin-right: 0px;
	}
	.logotype {
		margin-right: 195px;
	}
}

@media only screen and 	(max-width: 768px) {
	.container{

	}
	.logotype {
		width: 40%;
		margin-right: 50px;
	}
	.intro {
		margin-top: 200px;
		font-size: 40px;
	}
	.podintro {
		font-size: 25px;
	}
	.menu li a {
		font-size: 15px;
	}
	.mobila {
		width: 3%;
	}
	.tel {
		font-size: 14px;
	}
	.phone {
		width: 80%;
	}
}

@media only screen and 	(min-width: 480px) {
	.container{
		margin-left: 25px;
		margin-right: 0px;
	}
	.logotype {
		margin-right: 25px;
		width: 60%;
	}
	.menu li a {
		font-size: 12px;
	}
	.menu li {
		margin-right: 20px;
	}
	.tel {
		font-size: 10px;
	}
	.intro {
		font-size: 35px;
	}
	.podintro {
		font-size: 20px;
	}

}

@media only screen and 	(min-device-width : 391px) and (max-device-width: 480px) {
	.logotype {
		width: 90%;
		margin-right: 35px;
		margin-top: 8px;
	}
	.menu li a {
		font-size: 12px;
	}
	.menu li {
		margin-right: 12px;
	}
	.tel {
			font-size: 10px;
			padding-top: 3px
	}
	.lg {
		width: 40px;
	}
	.intro {
		font-size: 30px;
	}
	.podintro {
		font-size: 20px;
	}
	.knopka {
		width: 45%;
	}
}

@media only screen and 	(min-device-width : 320px) and (max-device-width: 390px) {
	.logotype {
		width: 90%;
    	margin-right: 20px;
    	margin-top: 8px;
	}
	.menu li a {
		font-size: 10px;
		margin-right: 10px;
	}
	.menu li {
		margin-right: 10px;
	}
	.tel {
			font-size: 8px;
			padding-top: 4px
	}
	.lg {
		width: 40px;
	}
	.intro {
		margin-top: 175px;
		font-size: 25px;
	}
	.podintro {
		font-size: 15px;
	}
	.knopka {
		width: 45%;
	}
}

