body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
ul, li {
  display: block;
  padding: 0;
  margin: 0;
}
.container {
  width: 1170;
  margin-left: 215px;
  margin-right: 215px;

}
header a {
  color: #FFFFFF;
}
.panel {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.logotype {
  margin-right: 430px;
}

.menu {
  display: flex;
}
.menu li {
  list-style-type: none;
  margin-right: 46px;
}

.menu li a {

  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  position: relative;
  padding-bottom: 8px;
} 
.menu li a::after { 
  content: "";
  position: absolute;
  height: 2px;
  background-color: #99CC00;
  width: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
.menu li a:hover { color: #99CC00; }
.menu li a:hover::after { width: 100%; } 
.home {
  color: #99CC00;
  text-decoration: onderline;
}
.tel {
  font-size: 17px;
  text-decoration: none;
  padding-left: 1px;
  color: #99CC00;
}
.intro {
  font-family: 'Pacifico';
  color: #ffffff;
  font-size: 50px;
  margin-top: 247px;
  padding-bottom: 1px;
}
.podintro {
  font-size: 30px;
  font-family: 'Pacifico';
  color: #ffffff;
  margin-top: none;
}
.knopka {
}
