body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
p {
  margin: 0px;
}
ul, li {
  display: block;
  padding: 0;
  margin: 0;
}
.countainer {
  padding-left: 215px;
}
.panel {
  padding-top: 15px;
  display: flex;
  align-items: center;
}
.logotype a {
  margin-right: 430px;
}
.menu {
  display: flex;
}
.menu li {
  margin-right: 46px;
  list-style-type: none;
}
.menu li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding-bottom: 8px;
} 
.menu li a::after { 
  content: "";
  position: absolute;
  height: 2px;
  background-color: #99CC00;
  width: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
.menu li a:hover { color: #99CC00; }
.menu li a:hover::after { width: 100%; } 
.phone a img {
  width: 80%;
}
.tel a {
  text-decoration: none;
  font-size: 17px;
  color: #99CC00;
}
.intro {
  font-family: 'Pacifico';
  font-size: 50px;
  margin-top: 242px;
  color: #ffffff;
}
.podintro {
  font-family: 'Pacifico';
  font-size: 30px;
  margin-top: 5px;
  color: #ffffff;
}
.knopka a img {
  width: 25%;
}
.knopka {
  margin-top: 15px;
}
  